@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --deep-blue: #001031;
  --light-blue: #F4FFFC;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-footer-background: var(--deep-blue);
  --color-footer-foreground: var(--light-blue);

  --font-roboto: var(--font-roboto);
}

/* Tema Escuro - Adicionar futuramente
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/

body {
    background: var(--light-blue);

  font-family: Arial, Helvetica, sans-serif;
}
